<!DOCTYPE html>
<html lang="en">

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content="#3b5998" name="theme-color" />

    {% if data.card %}
    <meta name="twitter:card" content="{{ data.card}}" />
    {% endif %}
    {% if data.title %}
    <meta name="twitter:title" content="{{ data.title}}" />
    {% endif %}
    {% if data.image %}
    <meta name="twitter:image" content="{{ data.image|safe}}" />
    <meta property="og:image" content="{{ data.image|safe}}" />
    {% endif %}

    {% if data.video %}
    <meta name="twitter:player:width" content="{{ data.width}}" />
    <meta name="twitter:player:height" content="{{ data.height}}" />
    <meta name="twitter:player:stream" content="{{ data.video|safe}}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />
    {% endif %}

    <meta property="og:site_name" content="FacebookFix">
    <meta property="og:url" content="{{ data.url}}" />
    <meta property="og:description" content="{{ data.description}}" />

    {% if data.video %}
    <meta property="og:video" content="{{ data.video|safe}}" />
    <meta property="og:video:secure_url" content="{{ data.video|safe}}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="{{ data.width}}" />
    <meta property="og:video:height" content="{{ data.height}}" />
    {% endif %}

    <meta name="description" content="{{ data.description}}" />
    <meta http-equiv="refresh" content="0; url = {{ data.url|safe}}" />

</head>

<body>
    Redirecting you to the post in a moment. <a href="{{ data.url|safe}}">Or click here.</a>
</body>

</html>
