<!DOCTYPE html>
<html lang="en">

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content="#3b5998" name="theme-color" />

    
    
    <meta name="twitter:title" content="سمسار شامل on Reels |" />
    
    

    
    <meta name="twitter:player:width" content="640" />
    <meta name="twitter:player:height" content="360" />
    <meta name="twitter:player:stream" content="https://scontent.cdninstagram.com/v/t50.33967-16/10000000_1222191032024543_1208976030550320722_n.mp4?_nc_cat=104&ccb=1-7&_nc_sid=985c63&efg=eyJybHIiOjMzMjcsInJsYSI6MjQ4MiwidmVuY29kZV90YWciOiJ4cHZfaGRfcHJvZ3Jlc3NpdmUifQ%3D%3D&_nc_ohc=OmfTw00edRYAX_Hp6eT&rl=3327&vabr=2218&_nc_ht=video.fbgw41-3.fna&oh=00_AfAcBL2MzqmGGr6jJnIqNlWU5ILomCQa1h0xQvIxXG1BjA&oe=641521BD" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />
    

    <meta property="og:site_name" content="InstaFix">
    <meta property="og:url" content="https://www.facebook.com/reel/1844950189209811" />
    <meta property="og:description" content="541K views, 6.9K likes, 28 comments, 76 shares, Facebook Reels from ‎سمسار شامل‎." />

    

    
    <meta property="og:video" content="https://scontent.cdninstagram.com/v/t50.33967-16/10000000_1222191032024543_1208976030550320722_n.mp4?_nc_cat=104&ccb=1-7&_nc_sid=985c63&efg=eyJybHIiOjMzMjcsInJsYSI6MjQ4MiwidmVuY29kZV90YWciOiJ4cHZfaGRfcHJvZ3Jlc3NpdmUifQ%3D%3D&_nc_ohc=OmfTw00edRYAX_Hp6eT&rl=3327&vabr=2218&_nc_ht=video.fbgw41-3.fna&oh=00_AfAcBL2MzqmGGr6jJnIqNlWU5ILomCQa1h0xQvIxXG1BjA&oe=641521BD" />
    <meta property="og:video:secure_url" content="https://scontent.cdninstagram.com/v/t50.33967-16/10000000_1222191032024543_1208976030550320722_n.mp4?_nc_cat=104&ccb=1-7&_nc_sid=985c63&efg=eyJybHIiOjMzMjcsInJsYSI6MjQ4MiwidmVuY29kZV90YWciOiJ4cHZfaGRfcHJvZ3Jlc3NpdmUifQ%3D%3D&_nc_ohc=OmfTw00edRYAX_Hp6eT&rl=3327&vabr=2218&_nc_ht=video.fbgw41-3.fna&oh=00_AfAcBL2MzqmGGr6jJnIqNlWU5ILomCQa1h0xQvIxXG1BjA&oe=641521BD" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
    

    <meta name="description" content="541K views, 6.9K likes, 28 comments, 76 shares, Facebook Reels from ‎سمسار شامل‎." />
    <meta http-equiv="refresh" content="0; url = https://www.facebook.com/reel/1844950189209811" />

</head>

<body>
    Redirecting you to the post in a moment. <a href="https://www.facebook.com/reel/1844950189209811">Or click here.</a>
</body>

</html>
